{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "plugins": ["react", "prettier"],
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "array-callback-return": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "prettier/prettier": "error",
    "max-len": ["error", 9999],
    "react/prop-types": [0],
    "import/no-unresolved": "off",
    "no-console": "warn",
    "no-param-reassign": 0
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  }
}
