.rejectBlock {
  background-color: #db282824 !important;
  .rejectInput {
    margin: 15px 0;
    label {
      color: #000000c2;
      font-size: 13px;
      display: block;
      line-height: 14px;
      font-weight: bold;
      margin: 0 0 5px 0;
    }
    > div {
      width: 100%;
    }
  }
}
.resultsForText {
  color: grey;
}
