.menuItem {
  text-align: left !important;
  .menuItemIcon {
    display: inline-block !important;
    margin: 0 !important;
    width: 26px;
  }
}
.backToTheSite {
  position: absolute !important;
  width: 100%;
  background: #24608c !important;
  bottom: 0;
}

.dropdownIcon {
  width: 23px !important;
}
