$sidebarWidth: 300px;

.dashboardWrapper {
  display: flex;
  height: 100vh;
  .sideBarWrapper {
    width: $sidebarWidth;
    display: inline-flex;
    height: 100%;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
    .sidebar {
      position: relative;
      width: $sidebarWidth !important;
      overflow: visible !important;
      background: #19537e !important;
      box-shadow: none !important;
    }
  }
  .mainContainerBlock {
    width: 100%;
    overflow: hidden;
    .mainContainer {
      padding: 15px;
      width: 1100px !important;
      overflow-y: auto;
      height: 94vh;
    }
    .mainDashboardPageContainer {
      padding: 15px;
      overflow-y: auto;
      height: 94vh;
    }
  }
}
