.headerSegmentClass {
  z-index: 1 !important;
  background: #0000 !important;
}

.headerMenuStyle {
  border: none !important;
}

.headerParentSegment {
  padding: 1em 0em !important;
  z-index: 1 !important;
  position: absolute !important;
  width: 100%;
  background: none !important;
}

.headerCustomStyleGradient {
  height: 500px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    #000,
    rgba(0, 0, 0, 0.253746) 66.23%,
    rgba(0, 0, 0, 0.116036) 79.15%,
    rgba(0, 0, 0, 0.0555917) 89.65%,
    rgba(0, 0, 0, 0.0001)
  );
  mix-blend-mode: normal;
}

.rightMenu {
  align-items: center;
}
