.messageContainer {
  height: 750px;
  .userListColumn {
    border-right: 1px solid rgba(34, 36, 38, 0.15);
    padding: 0 !important;
    .userListItem {
      padding: 15px !important;
      cursor: pointer;
      &:hover {
        background: #ececec;
      }
      &.active {
        background: #ececec;
      }
    }
  }
  .messagesBlock {
    padding: 0 !important;
    .divider {
      margin: 1rem 0 0 0;
    }
    .messagesContainer {
      padding: 0px 0px 0 15px;
      height: 574px !important;
      width: 100%;
      max-width: 100%;
      overflow: hidden auto;
      margin: 0;
      .messageItem {
        margin: 15px 0 !important;
      }
    }
    .recipientBlock {
      padding: 8px 0px 7px 15px;
      margin: 0 !important;
      .recipientBlockAvatar {
        img {
          border-radius: 50px !important;
        }
      }
      .recipientBlockContent {
        padding-top: 12px !important;
      }
    }
  }
}
